

#bars   {
    background-image: url("../images/skai-stripe.png");
    background-position: right top;
    background-repeat: repeat-y;
    z-index: 10;


}

.bg {
    background-image: url("../images/bg.png");
    background-position: left top;
    background-repeat: repeat-y;
    z-index: 20;


}


